&all_param
!MAXBDATA =
!MAX_ARETE =
MAX_ARETE_RELAX = 5000000
!MAX_BLOK =
MAX_COEF_CONNECT = 9500000
MAX_COTE_FRONT = 3000000
!MAX_COURBE_FRONTIERE =
!MAX_COURBE_ZONE =
MAX_ECHN_COURBE = 100000
MAX_ELEM_FRONT = 3000000
!MAX_SELEM_1D =
!MAX_SELEM_2D =
!MAX_FRONTIERE_ELEM
MAX_NODE = 2500000
!MAX_NOEUD_ELEM =
MAX_NPC = 50000
MAX_POINT = 10000000
MAX_POINT_COURBE = 50000
MAX_POINT_COURBE_DOMAINE = 50000
MAX_POINT_FRONTIERE = 1000000
MAX_QUAD = 500000
MAX_TRIANGLE = 1000000
MAX_VOIS_QTREE = 20000
!MAX_VOIS_RENUM =
!MAX_ZONE =
!MAX_PROF =
!MAX_ELEM_TO_CHECK =
!MAX_INTER =
!MAX_NODE_DEGREE_1D =
MAX_NODE_DEGREE_2D = 500
!RAYON_FRONT =
!RAYON_NOEUD =
/
